/*
====================================
Hoja de estilos para hacer correcciones del tema Dawn
====================================
*/
/* Coloca fuente del cuerpo a partir del h3 */
h3, h4, h5, .h3, .h4, .h5 {
    line-height: calc(1 + 0.8 / var(--font-body-scale));
    font-family: var(--font-body-family);
    font-style: var(--font-body-style);
    font-weight: var(--font-body-weight);
}
h1, h2, h3, h4, h5, .h0, .h1, .h2, .h3, .h4, .h5 {
    letter-spacing: 0;
}
/* Elimina padding innecesarios del header */
.header__heading-link {
    padding: 0;
}
@media screen and (min-width: 990px) {
    .header--middle-left .header__heading-link, .header--top-left .header__heading-link {
        margin-left: 0;
    }
}
.announcement-link {
    margin-left: 0.5rem;
}
a {
    color: inherit;
    font-size: inherit;
}